.SearchBar-Container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.SearchBar-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid rgba(235,217,190,1);
    width: auto;
}

.SearchInput {
    padding: 8px;
    margin: 4px;
    width: 300px;
    border: 1px solid rgba(235,217,190,1);
    border-radius: 30px;
}

.Search-Button {
    background: rgba(235,217,190,1);
    margin: 0;
    padding: 2px;
    border-radius: 15px;
    width: 32px;
}