.App {
  text-align: center;
  background: rgb(235,217,190);
  background: linear-gradient(180deg, rgba(235,217,190,1) 0%, rgba(40,40,196,1) 100%);
  height: 100vh;
}

.Title {
  margin: 0;
  padding-top: 24px;
  color: rgba(40,40,196,1);
}